body {
    /* background-color: rgb(36, 35, 35); */
    font-family: 'Acme', sans-serif;
}
.container-fluid {
    padding: 0;
}

/* nav */

nav img {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.navbar {
    padding: 2% 5% .8%;
}

.navbar-brand {
    width: 10em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.block {
    display: block;
}

.btn-warning:hover {
    color: #d61d1d;
    background-color: #ffd145;
}

/* services */

#services {
    padding: 1% 5% 1%;
}

/* about */

#about {
    padding: 1% 5% 1%;
}