body {
    background-color: rgb(36, 35, 35);
    font-family: 'Changa', sans-serif;
}

nav img {
    width: 100%;
}

.navbar {
    padding: 1.2% 3% .5%;
}

.navbar-brand {
    width: 6em;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
}

.navbar-light .navbar-nav .nav-item .phone:hover {
    color: red;
}