body {
    font-family: 'Mukta', sans-serif;
    background: #ffffff url("/images/AdobeStock_89308963.jpeg") no-repeat fixed center;
    background-size: 100%;
}

div .container-fluid {
    padding: 0;
}

/* nav */

nav img {
    width: 100%;
}

nav {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1em;
}

nav .bold {
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.navbar {
    padding: 1.4% 3% .8% 8%;
    background-color: rgb(226, 224, 224);
    position: sticky;
    top:0;
    box-shadow: 0px 0px 10px rgb(68, 67, 67);
}

.navbar-brand {
    width: 10em;
}

.block {
    display: block;
}

.btn-warning:hover {
    color: #d61d1d;
    background-color: #ffd145;
}

/* services */

#services {
    padding: 1% 5% 1%;
}

/* about */

#about {
    padding: 1% 5% 1%;
    height: 70vh;
}

.testing {
    height: 100vh;
}

.back-color {
    background-color: whitesmoke;
}

footer {
    background-color: rgb(54, 50, 50);
    font-size: 1.1em;
    color: whitesmoke;
}